/* Browse Images Button */

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
/* To keep all small images alligned in the grid */
.top-buffer {
  margin-bottom: 1em;
}

/* As normal */
.navbar-default {
  background-color: #fff ;
  border: none;
  border-radius: 0;
  margin: 1.5em;
  height: 30px;
}

p {
  text-align: justify;
}

.nav>li {
  background-color: #fff;
}

.nav {
  margin: 0;
}

#hamburger {
  border-radius: 0;
}

.navbar-header {
  margin: 0;
  height: 50px;
}

.navbar-default .navbar-nav {
  font-size: 12px;
}

.navbar-default .navbar-nav>li>a, .nav-pills>li>a {
  padding: 8px !important;
  color: #231f20;
  border-radius: 0;
}

.navbar-default .navbar-nav>#signup>a {
  color: #fff;
}

#signup {
  background-color: #231f20;
  color: #fff;
}

.navbar-brand {
  padding-top: 10px;
}

.navbar-toggle {
  border: none;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #231f20;
}

#homelogo {
  margin: 100px auto 200px auto;
  width: 100%;
}

#searchbar {
  height: 300px;
  background-color: #231f20;
  color: #231f20;
}

.search {
  background-color: #231f20 !important;
  color: #fff !important;
  border: 2px solid #fff !important;
  font-size: 14px !important;
  height: 36px !important;
}

.btn-default {
  margin-top: 20px;
  /*padding: 5px 80px;*/
  border: 2px solid #fff;
  border-radius: 0;
  background-color: #231f20;
  color: #fff;
}

.searchbutton {
  background-color: #fff;
  color: #231f20;
  width: 100%;
}

/*.dropbutton {
  width: 80%;
}*/

.dropdown-toggle {
  width: 100%;
}

.dropdown-menu {
  border-radius: 0;
}

.spacer {
  height: 40px;
}

select {
    -webkit-appearance: button;
    -moz-appearance: button;
    -webkit-user-select: none;
    -moz-user-select: none;
    -webkit-padding-end: 20px;
    -moz-padding-end: 20px;
    -webkit-padding-start: 2px;
    -moz-padding-start: 2px;
    background-color: #fff; /* fallback color if gradients are not supported */
    background: #231f20;
    border: 2px solid #fff;
    border-radius: 0px;
    color: #fff;
    font-size: 14px !important;
    margin-top: 20px;
    overflow: hidden;
    padding-top: 10px;
    padding-bottom: 10px;
    text-overflow: ellipsis;
}

#intro {
  padding-top: 50px;
  overflow: auto;
  background-color: #231f20;
  color: #fff;
  text-align: justify;
}

hr {
  width: 300px;
  margin: 40px auto 80px auto;
  border-width: 1px;
}

#intro hr {
  border-color: #fff;
}

#region-nav hr, #about hr {
  border-color: #231f20;
}
}

#region-nav, #about {
  text-align: justify;
}

#featured img {
  width: 33.33333%;
  box-sizing: border-box;
}

#featuredimage {
  display: none;
}

.nav-pills {
  margin-top: 80px;
  margin-bottom: 50px;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:hover {
  background-color: #231f20;
  color: #fff;
}

#property {
  padding-bottom: 50px;
}

.property-border {
  border-bottom: 1px solid #231f20;
}

.ellipsis {
  height: 51px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.price, .price>h2 {
  text-align: right;
}

#property>.container>.row>div>img, 
.propertyfocus>.container>.row>div>img,
.property-lower>.container>.row>div>.row>div>img {
  width: 100%;
  display: inline;
}

.address-heading>.row>div>h4 {
  margin-top: 0;
  padding: 8px;
  margin-bottom: 0;
  font-family: Playfair-Display-SC;
}

.address-heading>.row>div>img {
  margin-top: 100%;
}

.address-heading {
  background-color: #231f20;
  color: #fff;
  margin-bottom: 10px;
  cursor: pointer;
}

.address-heading:hover {
  background-color: #444444;
}

.bed-bath {
  margin-top: 20px;
}

.bed-bath>p {
  text-align: center;
}

.bed-bath>p>img {
  height: 20px;
}

.pager {
  margin-top: -20px;
}

.pager li>a, .addedit>div>a, .addedit>div {
  border: 0px;
  border-radius: 0px;
  color: #231f20;
  text-align: right !important;
}

#properties-sold, #saveproperty {
  background-color: #231f20;
  color: #fff;
  overflow: auto;
  padding-top: 100px;
  padding-bottom: 100px;
}

#properties-sold>.container>.row>div>h1 {
  font-family: Playfair-Display-SC;
  /*margin-top: 25%;*/
  text-align: right;
}

h2, h1, h3, h4, h5 {
  font-family: Playfair-Display-SC;
}

#properties-sold>.container>.row>div>ul {
  /*margin-top: 20%;*/
  list-style: none;
  text-align: right;
}

#properties-sold>.container>.row>div>ul>li>img {
  width: 14px;
}

#about {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #fff;
  color: #231f20;
  overflow: auto;
  padding-top: 
}

#about h2, #region-nav h2 {
  text-align: center;
}

#myChart {
  width: 300px;
  height: 200px;
}

.form-control {
  border: 2px solid #231f20;
  border-radius: 0;
  background-color: #fff;
  color: #231f20;
}

label {
  font-size: 14px;
  font-weight: 400;
  text-align: right;
}

.submitbutton {
  width: 100%;
  border: 2px solid #231f20;
}

#contact {
  padding: 60px 0;
}

#contact>div>div>div>p {
  text-align: left !important;
}

#footer {
  background-color: #aaa;
  color: #fff;
  padding-top: 25px;
  padding-bottom: 10px;
  overflow: auto;
  text-align: left;
}

#footer>.container>.row {
  padding-top: 25px;
}

#footer>.container>.row>div>ul {
  padding-left: 0;
  list-style: none;
}

#footer>.container>.row>div>ul>li>a {
  color: #fff;
}

#footer>.container>hr {
  width: 85%;
  margin: 40px auto 20px auto;
}

.footerimage {
  width: 100%;
}

#footerlogo {
  display: none;
}

#copyright>p {
  text-align: center;
  color: #231f20;
}

#keepup>p {
  text-align: center;
  font-family: Playfair-Display-SC;
}

.propertyfocus {
  background-color: #fff;
  color: #231f20;
  overflow: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

.addtowatchlist {
  text-align: center;
  margin-top: 100px;
}

.property-upper {
  height: auto;
}

.property-upper p, #property p {
  font-size: 12px;
}

.property-lower {
  /*margin-top: 10px;*/
  padding-top: 20px;
  padding-bottom: 20px;
  overflow: auto;
  background-color: #231f20;;
  color: #fff;
}

.authentication-logo {
  width: 100%;
  margin-top: 120px;
}

.authentication-divider {
  border-color: #231f20;
  margin-bottom: 50px;
}

.authentication-title {
  text-align: center;
}

.centre {
  text-align: center;
  font-size: 14px;
  font-family: Playfair-Display-SC;
}

.watchbutton {
  background-color: #fff;
  color: #231f20;
  width: 100%;
  margin-top: 40px;
}

a, a:hover {
  color: #fff;
}

.white {
  color: white;
}

.black {
  color: black;
}

.space {
  margin: 120px auto;
}

.breadcrumb {
  background-color: #fff;
  border-radius: 0px;
  font-family: Playfair-Display-SC;
}
.collapse>.nav>li {
    background-color: #f3f3f3;
    z-index: 2;
  }

.divide {
  display: block;
  margin: 0px;
  width: 100%;
  border-color: #231f20;
}

.mainimage {
  margin-bottom: 30px;
}

@media (min-width: 768px) {
       /* rules for tablet (768 > 992) */
    #footerlogo, #featuredimage {
    display: inline-block;
  }
  #featured img {
    width: 25%;
  }
  .collapse>.nav>li {
    background-color: #fff;
  }
  .divide {
  display: none;
  }
}

@media (min-width: 992px) {
       /* rules for tablet (992 >) */
    .address-heading {
      margin-left: -30px;
      padding-left: 30px;
    }
    .mainimage, .bed-bath {
      margin-bottom: 0px;
  }
    .property-lower {
      height: 400px;
    }
}



